@model IEnumerable<Hello.Models.Serie>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Ó céus, o que assistir?</h1>

    <div class="container">
        @foreach (var serie in Model)
        {
            <div class="row justify-content-center py-2">
                <div class="col-md-4 py-1 bg-light rounded-start border border-2">@serie.Nome</div>
                <div class="col-md-2 py-1 bg-light rounded-end border border-2">
                    @switch (serie.Interesse)
                        {
                            case -1: <span>🙁</span>
                            break;
                            case 0: <span>🙂</span>
                            break;
                            case 1: <span>😃</span>
                            break;
                        }
                </div>
            </div>
        }
    </div>

    <form asp-action="Add" class="row justify-content-center g-3">
        <div class="col-md-4">
            <label for="nome" class="form-label">Nome</label>
            <input data-val="true" type="text" class="form-control" id="nome" name="nome">
        </div>
        
        <div class="col-md-2">
            <label for="interesse" class="form-label">Interesse</label>
            <input type="range" class="form-control" id="interesse" name="interesse" min=-1 max=1>
        </div>

        <div class="col-12">
            <button type="submit" id="btn-add" class="btn btn-secondary col-1">Adicionar</button>
            <button asp-controller="Escolha" asp-action="Mostra" class="btn btn-success col-1">Escolher</button>
        </div>
    </form>
</div>
